Source: r8168
Section: non-free/kernel
Priority: optional
Maintainer: Andreas Beckmann <anbe@debian.org>
Build-Depends: debhelper (>= 11~), dkms
Rules-Requires-Root: no
Standards-Version: 4.2.0
Homepage: http://www.realtek.com.tw/downloads/downloadsView.aspx?PFid=5&Level=5&Conn=4&DownTypeID=3#2
Vcs-Browser: https://salsa.debian.org/debian/r8168
Vcs-Git: https://salsa.debian.org/debian/r8168.git
XS-Autobuild: yes

Package: r8168-dkms
Architecture: all
Depends: ${misc:Depends}
Description: dkms source for the r8168 network driver
 r8168 is the Linux device driver released for RealTek RTL8111B/RTL8168B,
 RTL8111/RTL8168, RTL8111C/RTL8111CP/RTL8111D(L), RTL8168C/RTL8111DP/RTL8111E,
 RTL8168E/RTL8111F/RTL8411, RTL8111G/RTL8111GUS/RTL8411B(N), RTL8118AS,
 RTL8111H(S)/RTL8118/RTL8119i
 Gigabit Ethernet controllers with PCI-Express interface.
 .
 This driver should only be used for devices not yet supported by the
 in-kernel driver r8169. Please see the README.Debian for instructions how
 to report bugs against r8169 that made it necessary to use r8168-dkms.
 .
 Installation of the r8168-dkms package will disable the in-kernel r8169
 module. To re-enable r8169, the r8168-dkms package must be purged.
 .
 This package provides the dkms source code for the r8168 kernel modules.
 Kernel source or headers are required to compile these modules.
